* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #71a5de;
    color: #f8f9fb;
}

.nav-list {
    display: flex;
    list-style: none;
}
.nav-list a {
    text-decoration: none;
    color: #f8f9fb;
    padding: 1rem;
    display: block;
}
.nav-list li:hover {
    background-color: #83b0e1;
}

input {
    border-radius: 1rem;
    border: none;
}