.card {
    border-radius: 1.5rem;
    flex: 0 0 calc(33.33% - 2rem);
    color: #71a5de;
    background-color: #e1ecf7;
    margin-bottom: 2rem;
}
h1 h2 {
    font-size: 2rem;
    line-height: 2.5rem
}
iframe {
    width: 60%;
    margin: 1rem;
}
.card-btn {
    width: auto;
    margin-bottom: 2rem;
    background-color: #71a5de;
    border: none;
    padding: 1rem;
    margin: 1rem;
}
a {
    text-decoration: none;
    color: #f8f9fb;
}

button:hover {
    background-color: #aecbeb;
}
.card-btns {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row; */
}

