*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.add-movie {
    height: 3rem;
    align-items: center;
    display: flex;
}

.add-movie-btn:hover {
    background-color: #71a5de;
    height: 3rem;
    align-items: center;
    display: flex;
    padding: 1rem;
}

.manage-header {
    background-color: #aecbeb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
li{
    list-style-type: none;
}
