
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.add-window {
    height: 100%;
    background-color: #aecbeb ;
    overflow: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 3rem;
}
.video-full{
    width: 100%;
}
ul + ul {
    margin-top: 1rem;
}
label {
    margin-right: 2rem;
}
ul {
    color: #f8f9fb;
    display: flex;
    justify-content: space-between;
}
.submit {
    border-radius: 1rem;
    text-align: center;
    color: #f8f9fb;
    margin-bottom: 2rem;
    background-color: #71a5de;
    border: none;
    padding: 1rem;
    margin-top: 2rem;
}
.submit:hover {
    background-color: #71a5de;
}
.head{
    padding-top: 2rem;
    color: #f8f9fb;
    background-color: #aecbeb;
    display: inline-block;
    width: 100%;
}
h1.form-heading {
    color: #f8f9fb;
    background-color: #aecbeb;
    height: 3rem;
}
.add label {
    height: normal;
    padding: .25rem;
}

.left {
    float: left;
    width: 50%;
    align-items: center;
    /* justify-content: center; */
}
.right {
    float: right;
    width: 50%;
    
    align-items: center;
    /* justify-content: center; */
}