* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.frgt-pwrd {
    width: 194px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.frgt-pwrd a:hover {
    background-color: #71a5de;
    color: #f8f9fb;
}