* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.reg {
    height: 100%;
}
.reg .add-window {
    padding: 0;
}
.reg p {
    background-color: #aecbeb;
    color: #f8f9fb;
}

.reg input {
    height: 3rem;
    padding: 1rem;
}