.add a {
    display: flex;
    justify-content: center;
    margin: auto auto;
}
.create {
    height: 100%;
}
.create-btn {
    margin-top: rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reg-links {
    width: 336px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reg-links:hover {
    background-color: #71a5de;
    height: 3rem;
    align-items: center;
    display: flex;
    padding: 1rem;
}
.reg-field {
    margin: auto;
}
.reg-btn {
    padding-bottom: 1rem;
    font-size: .75em;
}
.left {
    float: left;
}
.right {
    float: right;
}
.container .submit {
    margin: 1rem;
}
